html {
  height: 100%;
  width: 100%;
}
body {
  background-color: bisque;
  padding: 20px;
  min-width: 200px;
  display: grid;
  grid:
    "h h h h"
    "m m m m"
    "f f f f";
  width: 100%;
  height: 100%;
}

.body-index {
  display: flex;
}
#dispaly-word-paragraph {
  display: none;
}
.header {
  grid-area: h;
  text-align: center;
  text-decoration: underline;
}
.main {
  grid-area: m;
  display: grid;
  grid:
    "a a a b b"
    "a a a b b";
}
.words-range {
  width: 50px;
}
.questions-container {
  grid: a;
}
.aside {
  grid-area: b;
  border-radius: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border: solid;
}
.images-section {
  display: flex;
  justify-content: center;
}
.imageplace {
  width: 20vw;
  height: 35vh;
  align-self: center;
  border-radius: 50%;
}

#congra-pragraph-id {
  width: 20vw;
  height: 35vh;
  align-self: center;
  border-radius: 50%;
  border: solid;
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
}
input {
  border-radius: 1px 10px;
}
form {
  border-radius: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border: solid;
  justify-content: space-around;
}
.footer {
  grid-area: f;
  text-align: center;
  height: 10vh;
}
