body {
  background-color: bisque;
  padding: 10px;
  min-width: 200px;
  grid-template-columns: auto;
  grid-template-rows: 100px 400px 100px;
}
#dispaly-word-paragraph {
  display: none;
}
.header {
  grid-area: h;
  text-align: center;
  text-decoration: underline;
  height: 20vh;
}
.main {
  display: grid;
  grid:
    "a a a b b"
    "a a a b b";
  height: 60vh;
}
.words-range {
  width: 50px;
}
.questions-container {
  grid: a;
}
.aside {
  grid-area: b;
  border-radius: 10%;

  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
.images-section {
  display: flex;
  justify-content: center;
  width: 100px;
}
.imageplace {
  width: 20vw;
  align-self: center;
  border-radius: 50%;
}
#main-image {
  width: 100vw;
}
input {
  border-radius: 1px 10px;
}
form {
  margin: 30px;
  border: double;
  border-radius: 10px;
}
.footer {
  text-align: center;
  height: 10vh;
}
